@import '../../../../styles/mixins';
.title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 48px;
	color: var(--main);
	margin-top: 32px;
}
.wrapper_vehicle {
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.wrapper_vehicle::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background: rgba(16, 24, 40, 0.1);
	top: -24px;
}
.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.item_input:checked + .item_label {
	border-color: var(--button);
}
.item_label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
	height: 95px;
	font-weight: 500;
	line-height: 1.25;
	border: 1px solid rgba(16, 24, 40, 0.2);
	border-radius: 10px;
	cursor: pointer;
	@include transition(border-color);
}
.item_input:hover {
	border-color: var(--button);
}

.item_svg {
	width: 32px;
	height: 32px;
}

.item {
	flex-basis: calc((100% - 20px) / 3);
}
